[Unit]
Description=Run PiZ ea30_sp26 Service
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/home/pi/.virtualenvs/pimoroni/bin/python /home/pi/EJnPi/ea30_air_quality_v05.py

[Install]
WantedBy=multi-user.target